[build]
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  FIREBASE_API_KEY = "AIzaSyBkHqKsQMpZ6cAxdseAf5xV9uor8kM-1eA"
  FIREBASE_AUTH_DOMAIN = "taskme-f16bf.firebaseapp.com"
  FIREBASE_PROJECT_ID = "taskme-f16bf"
  # Add other environment variables

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"